<main class="top-gap">
  <div class="about-wrapper">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="about-title">
            <h1 class="short-description">About author</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12  text-center">
          <div class="about-text description-block__paragraph">
            My name is Viktor, I'm 23 years old, I'm from Ukraine.
            Since childhood, I have loved games and dreamed of creating them, but only at the age of 16, when I got a
            high-performance computer, I was able to take the first steps in game development.
            Since 2015 I have been working in Unreal Engine 4, over the years I have created many small games with
            which I wanted to understand what I was capable of, but they always turned out not good enough for me.

            Unfortunately, due to the specifics of my character, I cannot show them to you, as in the days of my
            youth, at the slightest failure, I deleted everything I had and started over.
            Since until recently, game development was only my hobby, I abandoned my study of Unreal Engine 4 many
            times because of my studies, and later because of work, but mostly due to the fact that my ambitions were
            shattered by objective reality and the realization that it is impossible to realize everything I want.
            But I always went back to Unreal Engine and game development.
            But in the end, I still came to understand that game development is the only thing I want to devote my
            life to.
            Now the most important thing for me is to create good games that others can like, not perfect, since it is
            not possible to do this.

            It's very expensive, time-consuming and tedious to make good games, but still I think it's worth it.
            My favorite games are Zelda BOWT, the Dark Souls series, The Witcher 3 Wild Hunt and the Gothic series. My
            dream is to create a game that takes the best of them all and combines it.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>