<main class="top-gap">
  <div class="demo-welcome">
    <div class="container">
      <div class="demo-welcome-title text-center">
        <h1>
          Choose comfortable way to download demo
        </h1>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      
      <p class="description-block__paragraph">
        By downloading the demo version you will get access to the first 3 out of 10 levels in the game, since they are the first and mostly educational, they are not very large. Share your opinion about my game, any constructive criticism will make my game only better.
      </p>
    </div>
  </div>
  <div class="download-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="download-inner col-7 col-md-4">
          <div class="download-element text-center">
            <p class="description">
              Download from server
            </p>
            <a href="/game" class="btn btn-primary btn-lg" tabindex="-1" role="button">Download</a>
          </div>
          <div class="download-element text-center">
            <p class="description">
              Download from Google Drive
            </p>
            <a href="https://drive.google.com/file/d/1yOhRCp_I1WLNk7AGr8qElGqwlgYi2lYv/view" target="_blank" class="btn btn-primary btn-lg" tabindex="-1" role="button">Google Drive</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>