<main>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-overlay"></div>
              <div class="slider-group" onselectstart="return false">
                <span class="slider-text">
                  Chronicle of Forgoten Times <br/> Pawn of the Gods
                </span>
                <!-- <a class="btn carousel-btn" href="google.com" role="button">Get demo</a> -->
              </div>
              <div class="carousel-item active" data-bs-interval="5000">
                <img src="./img/screenGallery/1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="./img/screenGallery/16.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="./img/screenGallery/19.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="./img/screenGallery/11.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="./img/screenGallery/17.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-wrapper">
    <div class="container">
      <h1 class="short-description ">Chronicle of Forgotten Times: Pawn of the Gods - A story-driven Action / RPG game with stylized graphics, focused on a single player walkthrough</h1>
    </div>
  </div>
  <div class="video-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-10">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/zvEkxT9YyDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="demo-button">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-6 text-center">
          <h3 class="demo-title">
            Click on the button below to download demo version
          </h3>
          <a href="/en/demo" class="btn btn-primary btn-lg" tabindex="-1" role="button">Get demo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      
      <p class="description-block__paragraph">
        Chronicle of Forgotten Times: Pawn of the Gods - This is a fabulous journey across various locations where you will face many dangers on your way.
        Fight various and dangerous enemies using your cunning and skills in battle.
        The game is inspired by the Dark Souls series and Zelda BOTW.
      </p>
      <p class="description-block__paragraph">
        In the story, you play as the legendary knight Daire, who by the will of fate, almost single-handedly fought against the rebellious feudal lord Riogall, who started a civil war in order to overthrow the current royal dynasty and become the king of Ayderia.
      </p>
      <p class="description-block__paragraph">
        I will be glad to any of your feedbacks, share your opinion about the game in the comments section on YouTube and in social media.
      </p>
    </div>
  </div>
</main>
