<main class="top-gap">
  <div class="about-wrapper">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="about-title">
            <h1 class="short-description">Об авторе</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12  text-center">
          <div class="about-text description-block__paragraph">
            Меня зовут Виктор мне 23 года и я с Украины.
            С самого детства я любил игры и мечтал их создавать, но только в 16 лет когда у меня появился
            высокопроизводительный компьютер я смог сделать первые шаги в разработке игр.
            С 2015 я работаю в Unreal Engine 4, за эти годы я создал много маленьких игр, с помощью которых я хотел
            понять на что я способен, но они всегда получались недостаточно хороши для меня.
            К сожалению из-за специфики своего характера я не могу вам их показать, та как во времена моей юности при
            малейшей неудаче я удалял все что у меня было и начинал сначала.
            Так как до недавнего времени разработка игр была лишь моим хобби я много раз забрасывал свое изучение Unreal
            Engine 4 из-за учебы, а позже из-за работы, но в большинстве своем из-за того что мои амбиции разбивались об
            объективную реальность и осознание того что невозможно реализовать все что я хочу.
            Но я всегда возвращался к Unreal Engine и к разработке.
            Но в конце концов я все же пришел к понимаю, что разработка игр это единственное чему я хочу посвятить свою
            жизнь.
            Теперь для меня самое главное это создавать хорошие игры которые смогут понравиться остальным, не идеальные,
            так как сделать это не возможно.
            Делать хорошие игры это очень дорого, долго и утомительно, но все же я думаю что это того стоит.
            Мои любимее игры это Zelda BOWT, серия игр Dark souls, The witcher 3 wild hunt и серия Gothic. Моя мечта
            создать игру которая возьмет все самое лучшее из всех них и объединить в себе.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>