<main class="top-gap">
  <div class="demo-welcome">
    <div class="container">
      <div class="demo-welcome-title text-center">
        <h1>
          Выберите подходящий способ для скачивания демо
        </h1>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      
      <p class="description-block__paragraph">
        Скачав демо версию вы получите доступ до первых 3 уровней из 10 в игре, так как они первые и в основном обучающие, они не очень большие. Делитесь вашим мнением об моей игре, любая конструктивная критика сделаем мою игру только лучше.
      </p>
    </div>
  </div>
  <div class="download-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="download-inner col-7 col-md-4">
          <div class="download-element text-center">
            <p class="description">
              Скачать с сервера 
            </p>
            <a href="/game" class="btn btn-primary btn-lg" tabindex="-1" role="button">Download</a>
          </div>
          <div class="download-element text-center">
            <p class="description">
              Скачать из Google Drive
            </p>
            <a href="https://drive.google.com/file/d/1TWeEfo-oGyTgDY_cXK-UolSN3DzhfRI9/view" target="_blank" class="btn btn-primary btn-lg" tabindex="-1" role="button">Google Drive</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>