<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="social-wrap text-center">
          <div>
            <a class="social-youtube" target="_blank" href="https://www.youtube.com/channel/UCPunVJ4YZjt8Mp70M56nh5A">
              <img social-common src="./img/assets/icons/youtube.svg" alt="youtube">
            </a>
          </div>
          <div>
            <a class="social-facebook" target="_blank" href="https://www.facebook.com/groups/416574453141523">
              <img src="./img/assets/icons/facebook.svg" alt="facebook" class="social-common">
            </a>
          </div>
          <div>
            <a class="social-instagram" target="_blank" href="https://www.instagram.com/goldveindeveloper">
              <img src="./img/assets/icons/instagram.svg" alt="instagram">
            </a>
          </div>
          <div>
            <a class="social-twitter" target="_blank" href="https://twitter.com/ViktorYurtyn">
              <img src="./img/assets/icons/twitter.svg" alt="twitter">
            </a>
          </div>
          <div>
            <a class="social-vk" target="_blank" href="https://vk.com/club206795560">
              <img src="./img/assets/icons/vk.svg" alt="vk">
            </a>
          </div>
        </div>
        <p class="copyright text-center">
          &#169; 2021 Viktor Yurtyn
        </p>
      </div>
    </div>
  </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


<script>
  function burgerMenu(icon) {
    icon.classList.toggle("change");
    myNav.classList.toggle("navOpen")
  }
</script>
<script src="./lightbox2/dist/js/lightbox-plus-jquery.js"></script>
<script>
  lightbox.option({
    'alwaysShowNavOnTouchDevices': true,
    'wrapAround': true
  })
</script>
</body>

</html>