<header class="header-main">
  <nav class="navbar navbar-expand-lg fixed-top nav-bg" id="myNav">
    <div class="container">
      <div class="col-8">
        <a href="/ru" class="navbar-brand">Chronicle of Forgoten Times<br /> Pawn of the Gods</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="navbar-toggler-icon" onclick="burgerMenu(this)">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </button>
      
      <div class="col-4 collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item nav-item-custom">
            <a class="nav-link" href="/ru/about">Об авторе</a>
          </li>
          <li class="nav-item nav-item-custom">
            <a class="nav-link" href="/ru/demo">Демо</a>
          </li>
          <li class="nav-item nav-item-custom">
            <a class="nav-link" href="/ru/gallery">Галлерея</a>
          </li>
          <div class="btn-group">
            <button class="language-switcher btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img height="20px" width="20px" src="./img/assets/icons/ru.svg" alt="">
            </button>
            <ul class="dropdown-menu">
              <li><a href="/en"><img height="20px" width="20px" src="./img/assets/icons/en.svg" alt=""></a></li>
              <li><a href="/ru"><img height="20px" width="20px" src="./img/assets/icons/ru.svg" alt=""></a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <!-- header -->
  
</header>