<main>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-overlay"></div>
              <div class="slider-group" onselectstart="return false">
                <span class="slider-text">
                  Chronicle of Forgoten Times <br /> Pawn of the Gods
                </span>
                <!-- <a class="btn carousel-btn" href="google.com" role="button">Get demo</a> -->
              </div>
              <div class="carousel-item active" data-bs-interval="5000">
                <img src="./img/screenGallery/1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="./img/screenGallery/16.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="./img/screenGallery/19.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="./img/screenGallery/11.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="./img/screenGallery/17.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-wrapper">
    <div class="container">
      <h1 class="short-description ">Chronicle of Forgotten Times: Pawn of the Gods - Сюжетная Action/RPG игра со
        стилизованной графикой, ориентированная на одиночное прохождение</h1>
    </div>
  </div>
  <div class="video-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-10">
          <div class="ratio ratio-16x9">
            <iframe width="1584" height="586" src="https://www.youtube.com/embed/zvEkxT9YyDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="demo-button">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-6 text-center">
          <h3 class="demo-title">
            Нажмите на кнопку ниже чтобы скачать демо
          </h3>
          <a href="/ru/demo" class="btn btn-primary btn-lg" tabindex="-1" role="button">Скачать демо</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="kickstarter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-center">
          <h3 class="kickstarter-title">
            Прямо сейчас проводится Kickstarter компания
          </h3>
          <a class="kickstarter-link" target="_blank" href="https://www.kickstarter.com/projects/pawn-of-the-gods/chronicle-of-forgotten-times-pawn-of-the-gods/description">
            <img class="kickstarter-img" src="./img/assets/icons/Kickstarter.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="description-block">
    <div class="container">

      <p class="description-block__paragraph">
        Chronicle of Forgotten Times: Pawn of the Gods - Это сказочное путешествие по разнообразным локациям где вы
        столкнётесь с множеством опасностей на своем пути.
        Сражайтесь с разнообразными и опасными врагами используя свою хитрость и умения в бою.
        Игра вдохновлена серией Dark Souls и Zelda BOTW.
      </p>
      <p class="description-block__paragraph">
        По сюжету вы играете за легендарного рыцаря Дайре, который по воле судьбы практически в одиночку отважно
        сражался против мятежного феодала Риогалла, который начал гражданскую войну, что бы свергнуть действующую
        королевскую династию и самому стать королем Айдерии.
      </p>
      <p class="description-block__paragraph">
        Я буду рад любой вашей активности, делитесь своим мнение об игре в разделе комментариев на YouTube и в соц
        сетях.
      </p>
    </div>
  </div>
</main>